# **Data Cleaning and Preprocessing**

In [2]:
import pandas as pd

# Load the dataset
df = pd.read_csv("superstore.csv")

In [5]:
# === Initial Diagnostics ===
initial_shape = df.shape
initial_missing = df.isnull().sum().sum()
initial_duplicates = df.duplicated().sum()

(5000, 15)

In [8]:
# === Shape Of The Dataset ===
df.shape

(5000, 15)

In [7]:
# === Check For Missing Values ===
df.isnull().sum()

Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Region           0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [12]:
# === Check For Duplicate Values ===
df.duplicated().sum()

np.int64(0)

In [ ]:
# === Step 1: Drop Missing Values ===
df_cleaned = df.dropna()

In [10]:
# === Step 2: Remove Duplicate Rows ===
df_cleaned = df_cleaned.drop_duplicates()

In [ ]:
# === Step 3: Standardize Column Names ===
df_cleaned.columns = (
    df_cleaned.columns
    .str.strip()                            # Removes any leading or trailing whitespace from each column name.
    .str.lower()                            # Converts all characters in the column names to lowercase.
    .str.replace(' ', '_', regex=False)     # Replaces all spaces with underscores to make the column names more code-friendly.
)

In [ ]:
# === Step 4: Convert Date Columns to Datetime ===
# Adjust column names according to your dataset
date_columns = ['order_date', 'ship_date']                                  # List of column names which contain date values.
for col in date_columns:
    if col in df_cleaned.columns:
        df_cleaned[col] = pd.to_datetime(df_cleaned[col], errors='coerce')  # Converts the column to datetime format using pandas pd.to_datetime() function.

In [ ]:
# === Step 5: Standardize Text Values ===
# Detect object columns (likely to be text)
text_columns = df_cleaned.select_dtypes(include='object').columns          # Selects all columns in the DataFrame with the data type object
for col in text_columns:
    df_cleaned[col] = df_cleaned[col].astype(str).str.strip().str.title()  # Converts the column values to strings
                                                                           # Removes leading and trailing whitespace from each text entry
                                                                           # Capitalizes each word (i.e., Title Case) in the string.

In [ ]:
# === Step 6: Final Diagnostics ===
final_shape = df_cleaned.shape
final_missing = df_cleaned.isnull().sum().sum()
final_duplicates = df_cleaned.duplicated().sum()

In [13]:
df_cleaned.shape

(5000, 15)

In [14]:
df_cleaned.isnull().sum().sum()

np.int64(0)

In [15]:
df_cleaned.duplicated().sum()

np.int64(0)

In [18]:
# === Save Cleaned Dataset ===
df_cleaned.to_csv("superstore_cleaned.csv", index=False)

# **Summary**

In [17]:
print("=== Cleaning Summary ===")
print(f"Initial shape: {initial_shape}")
print(f"Final shape: {final_shape}")
print(f"Missing values removed: {initial_missing}")
print(f"Duplicate rows removed: {initial_duplicates}")
print(f"Remaining missing values: {final_missing}")
print(f"Remaining duplicate rows: {final_duplicates}")
print("Cleaned dataset saved as 'superstore_cleaned.csv'")

=== Cleaning Summary ===
Initial shape: (5000, 15)
Final shape: (5000, 15)
Missing values removed: 0
Duplicate rows removed: 0
Remaining missing values: 0
Remaining duplicate rows: 0
Cleaned dataset saved as 'superstore_cleaned.csv'